svg > path.OfficeIconColors_m20 { fill : rgba(250, 250, 250, 1.000); }
svg > path.OfficeIconColors_m21 { fill : rgba(200, 198, 196, 1.000); }
svg > path.OfficeIconColors_m22 { fill : rgba(58, 58, 56, 1.000); }
svg > path.OfficeIconColors_m23 { fill : rgba(121, 119, 116, 1.000); }
svg > path.OfficeIconColors_m24 { fill : rgba(30, 139, 205, 1.000); }
svg > path.OfficeIconColors_m25 { fill : rgba(0, 99, 177, 1.000); }
svg > path.OfficeIconColors_m26 { fill : rgba(131, 190, 236, 1.000); }
svg > path.OfficeIconColors_m27 { fill : rgba(55, 158, 78, 1.000); }
svg > path.OfficeIconColors_m28 { fill : rgba(48, 144, 72, 1.000); }
svg > path.OfficeIconColors_m29 { fill : rgba(161, 221, 170, 1.000); }
svg > path.OfficeIconColors_m210 { fill : rgba(222, 108, 0, 1.000); }
svg > path.OfficeIconColors_m211 { fill : rgba(222, 108, 0, 1.000); }
svg > path.OfficeIconColors_m212 { fill : rgba(248, 219, 143, 1.000); }
svg > path.OfficeIconColors_m213 { fill : rgba(237, 61, 59, 1.000); }
svg > path.OfficeIconColors_m214 { fill : rgba(212, 35, 20, 1.000); }
svg > path.OfficeIconColors_m215 { fill : rgba(255, 145, 152, 1.000); }
svg > path.OfficeIconColors_m216 { fill : rgba(255, 103, 45, 1.000); }
svg > path.OfficeIconColors_m217 { fill : rgba(232, 75, 18, 1.000); }
svg > path.OfficeIconColors_m218 { fill : rgba(255, 178, 85, 1.000); }
svg > path.OfficeIconColors_m219 { fill : rgba(168, 70, 178, 1.000); }
svg > path.OfficeIconColors_m220 { fill : rgba(146, 46, 155, 1.000); }
svg > path.OfficeIconColors_m221 { fill : rgba(212, 146, 216, 1.000); }
svg > path.OfficeIconColors_m222 { fill : rgba(255, 255, 255, 0.400); }
svg > path.OfficeIconColors_m223 { fill : rgba(131, 190, 236, 1.000); }
svg > path.OfficeIconColors_m224 { fill : rgba(0, 99, 177, 1.000); }
svg > path.OfficeIconColors_m225 { fill : rgba(234, 222, 204, 1.000); }
svg > path.OfficeIconColors_m226 { fill : rgba(112, 95, 83, 1.000); }
svg > path.OfficeIconColors_m227 { fill : rgba(255, 255, 255, 1.000); }
svg > path.OfficeIconColors_m228 { fill : rgba(0, 126, 229, 1.000); }
svg > path.OfficeIconColors_m229 { fill : rgba(216, 59, 1, 1.000); }
svg > path.OfficeIconColors_m230 { fill : rgba(8, 73, 177, 1.000); }
svg > path.OfficeIconColors_m231 { fill : rgba(0, 120, 215, 1.000); }
svg > path.OfficeIconColors_m232 { fill : rgba(125, 163, 198, 1.000); }
svg > path.OfficeIconColors_m233 { fill : rgba(43, 87, 154, 1.000); }
svg > path.OfficeIconColors_m234 { fill : rgba(183, 71, 42, 1.000); }
svg > path.OfficeIconColors_m235 { fill : rgba(237, 149, 131, 1.000); }
svg > path.OfficeIconColors_m236 { fill : rgba(33, 115, 70, 1.000); }
svg > path.OfficeIconColors_m237 { fill : rgba(110, 179, 138, 1.000); }
svg > path.OfficeIconColors_m238 { fill : rgba(119, 25, 170, 1.000); }
svg > path.OfficeIconColors_m239 { fill : rgba(221, 197, 236, 1.000); }
svg > path.OfficeIconColors_m240 { fill : rgba(255, 0, 0, 1.000); }
svg > path.OfficeIconColors_m241 { fill : rgba(255, 255, 0, 1.000); }
svg > path.OfficeIconColors_m242 { fill : rgba(0, 255, 0, 1.000); }
svg > path.OfficeIconColors_m243 { fill : rgba(0, 255, 255, 1.000); }
svg > path.OfficeIconColors_m244 { fill : rgba(255, 0, 0, 1.000); }
svg > path.OfficeIconColors_m245 { fill : rgba(255, 128, 0, 1.000); }
svg > path.OfficeIconColors_m246 { fill : rgba(87, 210, 0, 1.000); }
svg > path.OfficeIconColors_m247 { fill : rgba(49, 101, 187, 1.000); }
svg > path.OfficeIconColors_m248 { fill : rgba(150, 150, 150, 1.000); }
svg > path.OfficeIconColors_m249 { fill : rgba(121, 121, 121, 1.000); }
svg > path.OfficeIconColors_m250 { fill : rgba(179, 179, 179, 1.000); }
svg > path.OfficeIconColors_m251 { fill : rgba(255, 0, 255, 1.000); }
svg > path.OfficeIconColors_m252 { fill : rgba(0, 0, 0, 1.000); }
svg > path.OfficeIconColors_m253 { fill : rgba(159, 205, 179, 1.000); }
svg > path.OfficeIconColors_m254 { fill : rgba(2, 132, 132, 1.000); }
svg > path.OfficeIconColors_m255 { fill : rgba(59, 89, 152, 1.000); }
svg > path.OfficeIconColors_m256 { fill : rgba(29, 161, 242, 1.000); }
svg > path.OfficeIconColors_m257 { fill : rgba(221, 75, 57, 1.000); }
svg > path.OfficeIconColors_m258 { fill : rgba(53, 70, 93, 1.000); }
svg > path.OfficeIconColors_m259 { fill : rgba(70, 67, 66, 1.000); }
svg > path.OfficeIconColors_m260 { fill : rgba(189, 8, 28, 1.000); }
svg > path.OfficeIconColors_m261 { fill : rgba(0, 119, 181, 1.000); }
svg > path.OfficeIconColors_m262 { fill : rgba(255, 69, 0, 1.000); }
svg > path.OfficeIconColors_m263 { fill : rgba(0, 131, 114, 1.000); }
svg > path.OfficeIconColors_m264 { fill : rgba(0, 120, 215, 1.000); }
svg > path.OfficeIconColors_m265 { fill : rgba(0, 99, 219, 1.000); }
svg > path.OfficeIconColors_m266 { fill : rgba(255, 0, 132, 1.000); }
svg > path.OfficeIconColors_m267 { fill : rgba(205, 32, 31, 1.000); }
svg > path.OfficeIconColors_m268 { fill : rgba(255, 0, 170, 1.000); }
svg > path.OfficeIconColors_m269 { fill : rgba(245, 125, 0, 1.000); }
svg > path.OfficeIconColors_m270 { fill : rgba(0, 191, 0, 1.000); }
svg > path.OfficeIconColors_m271 { fill : rgba(230, 230, 230, 1.000); }
svg > path.OfficeIconColors_m272 { fill : rgba(90, 90, 90, 1.000); }
svg > path.OfficeIconColors_m273 { fill : rgba(244, 132, 11, 1.000); }
svg > path.OfficeIconColors_m274 { fill : rgba(255, 22, 0, 1.000); }
svg > path.OfficeIconColors_m275 { fill : rgba(147, 61, 193, 1.000); }
svg > path.OfficeIconColors_m276 { fill : rgba(0, 191, 255, 1.000); }
svg > path.OfficeIconColors_m277 { fill : rgba(181, 216, 42, 1.000); }
svg > path.OfficeIconColors_m278 { fill : rgba(242, 216, 13, 1.000); }
svg > path.OfficeIconColors_m279 { fill : rgba(212, 0, 120, 1.000); }
svg > path.OfficeIconColors_m280 { fill : rgba(250, 189, 20, 1.000); }
svg > path.OfficeIconColors_m281 { fill : rgba(15, 137, 62, 1.000); }
svg > path.OfficeIconColors_m282 { fill : rgba(0, 78, 140, 1.000); }
svg > path.OfficeIconColors_m283 { fill : rgba(172, 0, 140, 1.000); }
svg > path.OfficeIconColors_m284 { fill : rgba(247, 99, 13, 1.000); }
svg > path.OfficeIconColors_m285 { fill : rgba(232, 17, 35, 1.000); }
svg > path.OfficeIconColors_m286 { fill : rgba(0, 182, 193, 1.000); }
svg > path.OfficeIconColors_m287 { fill : rgba(0, 99, 175, 1.000); }
svg > path.OfficeIconColors_m288 { fill : rgba(91, 45, 144, 1.000); }
svg > path.OfficeIconColors_m289 { fill : rgba(198, 164, 119, 1.000); }
svg > path.OfficeIconColors_m290 { fill : rgba(126, 197, 0, 1.000); }
svg > path.OfficeIconColors_m291 { fill : rgba(0, 172, 86, 1.000); }
svg > path.OfficeIconColors_m292 { fill : rgba(0, 153, 187, 1.000); }
svg > path.OfficeIconColors_m293 { fill : rgba(193, 0, 81, 1.000); }
svg > path.OfficeIconColors_m294 { fill : rgba(132, 147, 154, 1.000); }
svg > path.OfficeIconColors_m295 { fill : rgba(16, 110, 190, 1.000); }
svg > path.OfficeIconColors_m296 { fill : rgba(238, 49, 36, 1.000); }
svg > path.OfficeIconColors_m297 { fill : rgba(220, 234, 245, 1.000); }
svg > path.OfficeIconColors_m298 { fill : rgba(198, 223, 243, 1.000); }
svg > path.OfficeIconColors_m299 { fill : rgba(176, 212, 241, 1.000); }
svg > path.OfficeIconColors_m2100 { fill : rgba(154, 201, 238, 1.000); }
svg > path.OfficeIconColors_m2101 { fill : rgba(131, 190, 236, 1.000); }
svg > path.OfficeIconColors_m2102 { fill : rgba(96, 172, 225, 1.000); }
svg > path.OfficeIconColors_m2103 { fill : rgba(61, 155, 214, 1.000); }
svg > path.OfficeIconColors_m2104 { fill : rgba(27, 134, 202, 1.000); }
svg > path.OfficeIconColors_m2105 { fill : rgba(26, 110, 189, 1.000); }
svg > path.OfficeIconColors_m2106 { fill : rgba(255, 255, 255, 1.000); }
svg > path.OfficeIconColors_m2107 { fill : rgba(0, 164, 255, 1.000); }
svg > path.OfficeIconColors_m2108 { fill : rgba(0, 0, 0, 0.498); }
svg > path.OfficeIconColors_m2109 { fill : rgba(255, 255, 255, 0.400); }
svg > path.OfficeIconColors_m2110 { fill : rgba(255, 255, 255, 0.298); }
svg > path.OfficeIconColors_m2111 { fill : rgba(255, 255, 255, 0.498); }
svg > path.OfficeIconColors_m2112 { fill : rgba(0, 0, 0, 1.000); }
svg > path.OfficeIconColors_m2113 { fill : rgba(164, 55, 58, 1.000); }
svg > path.OfficeIconColors_m2114 { fill : rgba(49, 117, 47, 1.000); }
svg > path.OfficeIconColors_m2115 { fill : rgba(7, 117, 104, 1.000); }
svg > path.OfficeIconColors_m2116 { fill : rgba(57, 85, 163, 1.000); }
svg > path.OfficeIconColors_m2117 { fill : rgba(142, 166, 221, 1.000); }
svg > path.OfficeIconColors_m2118 { fill : rgba(0, 161, 224, 1.000); }
svg > path.OfficeIconColors_m2119 { fill : rgba(0, 32, 80, 1.000); }
svg > path.OfficeIconColors_m2120 { fill : rgba(255, 239, 156, 1.000); }
svg > path.OfficeIconColors_m2121 { fill : rgba(99, 138, 198, 1.000); }
svg > path.OfficeIconColors_m2122 { fill : rgba(99, 138, 198, 0.247); }
svg > path.OfficeIconColors_m2123 { fill : rgba(99, 190, 123, 1.000); }
svg > path.OfficeIconColors_m2124 { fill : rgba(99, 190, 123, 0.247); }
svg > path.OfficeIconColors_m2125 { fill : rgba(255, 85, 90, 1.000); }
svg > path.OfficeIconColors_m2126 { fill : rgba(255, 85, 90, 0.247); }
svg > path.OfficeIconColors_m2127 { fill : rgba(255, 182, 40, 1.000); }
svg > path.OfficeIconColors_m2128 { fill : rgba(0, 138, 239, 1.000); }
svg > path.OfficeIconColors_m2129 { fill : rgba(214, 0, 123, 1.000); }
svg > path.OfficeIconColors_m2130 { fill : rgba(237, 125, 49, 1.000); }
svg > path.OfficeIconColors_m2131 { fill : rgba(16, 124, 16, 1.000); }
svg > path.OfficeIconColors_m2132 { fill : rgba(195, 0, 82, 1.000); }
svg > path.OfficeIconColors_m2133 { fill : rgba(156, 0, 65, 1.000); }
svg > path.OfficeIconColors_m2134 { fill : rgba(247, 191, 160, 1.000); }
svg > path.OfficeIconColors_m2135 { fill : rgba(162, 211, 160, 1.000); }
svg > path.OfficeIconColors_m2136 { fill : rgba(159, 205, 199, 1.000); }
svg > path.OfficeIconColors_m2137 { fill : rgba(212, 146, 216, 0.298); }
svg > path.OfficeIconColors_m2138 { fill : rgba(0, 174, 205, 1.000); }
svg > path.OfficeIconColors_m2139 { fill : rgba(66, 133, 241, 1.000); }
svg > path.OfficeIconColors_m2140 { fill : rgba(50, 166, 81, 1.000); }
svg > path.OfficeIconColors_m2141 { fill : rgba(251, 190, 5, 1.000); }
svg > path.OfficeIconColors_m2142 { fill : rgba(234, 66, 53, 1.000); }
svg > path.OfficeIconColors_m2143 { fill : rgba(212, 146, 216, 0.600); }
svg > path.OfficeIconColors_m2144 { fill : rgba(1, 130, 188, 1.000); }
svg > path.OfficeIconColors_m2145 { fill : rgba(49, 47, 98, 1.000); }
svg > path.OfficeIconColors_m2146 { fill : rgba(124, 188, 49, 1.000); }
svg > path.OfficeIconColors_m2147 { fill : rgba(250, 250, 250, 1.000); }
svg > path.OfficeIconColors_m2148 { fill : rgba(58, 58, 56, 1.000); }
svg > path.OfficeIconColors_m2149 { fill : rgba(121, 119, 116, 1.000); }
svg > path.OfficeIconColors_m2150 { fill : rgba(240, 125, 136, 1.000); }
svg > path.OfficeIconColors_m2151 { fill : rgba(85, 171, 229, 1.000); }
svg > path.OfficeIconColors_m2152 { fill : rgba(95, 190, 125, 1.000); }
svg > path.OfficeIconColors_m2153 { fill : rgba(185, 192, 203, 1.000); }
svg > path.OfficeIconColors_m2154 { fill : rgba(255, 140, 0, 1.000); }
svg > path.OfficeIconColors_m2155 { fill : rgba(51, 186, 177, 1.000); }
svg > path.OfficeIconColors_m2156 { fill : rgba(163, 179, 103, 1.000); }
svg > path.OfficeIconColors_m2157 { fill : rgba(168, 149, 226, 1.000); }
svg > path.OfficeIconColors_m2158 { fill : rgba(2, 104, 2, 1.000); }
svg > path.OfficeIconColors_m2159 { fill : rgba(255, 241, 0, 1.000); }
svg > path.OfficeIconColors_m2160 { fill : rgba(85, 88, 175, 1.000); }
svg > path.OfficeIconColors_m2161 { fill : rgba(128, 0, 128, 1.000); }
svg > path.OfficeIconColors_m2162 { fill : rgba(255, 145, 152, 0.247); }
svg > path.OfficeIconColors_m2163 { fill : rgba(104, 33, 122, 1.000); }
svg > path.OfficeIconColors_m2164 { fill : rgba(43, 44, 51, 1.000); }
svg > path.OfficeIconColors_m2165 { fill : rgba(0, 167, 233, 1.000); }
svg > path.OfficeIconColors_m2166 { fill : rgba(0, 151, 157, 1.000); }
svg > path.OfficeIconColors_m2167 { fill : rgba(251, 209, 21, 1.000); }
svg > path.OfficeIconColors_m2168 { fill : rgba(0, 107, 255, 1.000); }
svg > path.OfficeIconColors_m2169 { fill : rgba(35, 24, 64, 1.000); }
svg > path.OfficeIconColors_m2170 { fill : rgba(158, 139, 252, 1.000); }
svg > path.OfficeIconColors_m2171 { fill : rgba(243, 233, 255, 1.000); }
svg > path.OfficeIconColors_m2172 { fill : rgba(255, 255, 255, 0.298); }
svg > path.OfficeIconColors_m2173 { fill : rgba(58, 58, 56, 1.000); }
svg > path.OfficeIconColors_m2174 { fill : rgba(121, 119, 116, 1.000); }
svg > path.OfficeIconColors_m2175 { fill : rgba(0, 0, 0, 0.349); }
svg > path.OfficeIconColors_m2176 { fill : rgba(255, 255, 255, 0.498); }
svg > path.OfficeIconColors_m2177 { fill : rgba(167, 220, 213, 1.000); }
svg > path.OfficeIconColors_m2178 { fill : rgba(50, 148, 148, 1.000); }
svg > path.OfficeIconColors_m2179 { fill : rgba(0, 128, 133, 1.000); }
svg > path.OfficeIconColors_m2180 { fill : rgba(144, 227, 227, 1.000); }
svg > path.OfficeIconColors_m2181 { fill : rgba(255, 255, 255, 1.000); }
svg > path.OfficeIconColors_m2182 { fill : rgba(0, 0, 0, 0.047); }
svg > path.OfficeIconColors_m2183 { fill : rgba(0, 0, 0, 0.098); }
svg > path.OfficeIconColors_m2184 { fill : rgba(0, 0, 0, 0.200); }
svg > path.OfficeIconColors_m2185 { fill : rgba(0, 0, 0, 0.498); }
svg > path.OfficeIconColors_m2186 { fill : rgba(0, 0, 0, 0.753); }
svg > path.OfficeIconColors_m2187 { fill : rgba(65, 165, 238, 1.000); }
svg > path.OfficeIconColors_m2188 { fill : rgba(43, 124, 211, 1.000); }
svg > path.OfficeIconColors_m2189 { fill : rgba(24, 90, 189, 1.000); }
svg > path.OfficeIconColors_m2190 { fill : rgba(16, 63, 145, 1.000); }
svg > path.OfficeIconColors_m2191 { fill : rgba(22, 56, 112, 1.000); }
svg > path.OfficeIconColors_m2192 { fill : rgba(51, 196, 129, 1.000); }
svg > path.OfficeIconColors_m2193 { fill : rgba(33, 163, 102, 1.000); }
svg > path.OfficeIconColors_m2194 { fill : rgba(16, 124, 65, 1.000); }
svg > path.OfficeIconColors_m2195 { fill : rgba(24, 92, 55, 1.000); }
svg > path.OfficeIconColors_m2196 { fill : rgba(19, 74, 44, 1.000); }
svg > path.OfficeIconColors_m2197 { fill : rgba(255, 143, 107, 1.000); }
svg > path.OfficeIconColors_m2198 { fill : rgba(237, 108, 71, 1.000); }
svg > path.OfficeIconColors_m2199 { fill : rgba(211, 82, 48, 1.000); }
svg > path.OfficeIconColors_m2200 { fill : rgba(196, 62, 28, 1.000); }
svg > path.OfficeIconColors_m2201 { fill : rgba(153, 49, 23, 1.000); }
svg > path.OfficeIconColors_m2202 { fill : rgba(202, 100, 234, 1.000); }
svg > path.OfficeIconColors_m2203 { fill : rgba(174, 75, 213, 1.000); }
svg > path.OfficeIconColors_m2204 { fill : rgba(147, 50, 191, 1.000); }
svg > path.OfficeIconColors_m2205 { fill : rgba(119, 25, 170, 1.000); }
svg > path.OfficeIconColors_m2206 { fill : rgba(81, 21, 117, 1.000); }
svg > path.OfficeIconColors_m2207 { fill : rgba(80, 217, 255, 1.000); }
svg > path.OfficeIconColors_m2208 { fill : rgba(40, 168, 234, 1.000); }
svg > path.OfficeIconColors_m2209 { fill : rgba(20, 144, 223, 1.000); }
svg > path.OfficeIconColors_m2210 { fill : rgba(0, 120, 212, 1.000); }
svg > path.OfficeIconColors_m2211 { fill : rgba(3, 100, 184, 1.000); }
svg > path.OfficeIconColors_m2212 { fill : rgba(3, 88, 167, 1.000); }
svg > path.OfficeIconColors_m2213 { fill : rgba(6, 80, 155, 1.000); }
svg > path.OfficeIconColors_m2214 { fill : rgba(6, 74, 140, 1.000); }
svg > path.OfficeIconColors_m2215 { fill : rgba(10, 39, 103, 1.000); }
svg > path.OfficeIconColors_m2216 { fill : rgba(10, 39, 103, 0.498); }
svg > path.OfficeIconColors_m2217 { fill : rgba(123, 131, 235, 1.000); }
svg > path.OfficeIconColors_m2218 { fill : rgba(80, 89, 201, 1.000); }
svg > path.OfficeIconColors_m2219 { fill : rgba(75, 83, 188, 1.000); }
svg > path.OfficeIconColors_m2220 { fill : rgba(54, 58, 126, 1.000); }
svg > path.OfficeIconColors_m2221 { fill : rgba(55, 198, 208, 1.000); }
svg > path.OfficeIconColors_m2222 { fill : rgba(26, 155, 161, 1.000); }
svg > path.OfficeIconColors_m2223 { fill : rgba(3, 131, 135, 1.000); }
svg > path.OfficeIconColors_m2224 { fill : rgba(3, 108, 112, 1.000); }
svg > path.OfficeIconColors_m2225 { fill : rgba(14, 79, 81, 1.000); }
svg > path.OfficeIconColors_m2226 { fill : rgba(222, 108, 0, 1.000); }
svg > path.OfficeIconColors_m2227 { fill : rgba(255, 255, 255, 0.000); }
svg > path.OfficeIconColors_m2228 { fill : rgba(58, 58, 56, 1.000); }
svg > path.OfficeIconColors_m2229 { fill : rgba(255, 255, 255, 0.000); }
svg > path.OfficeIconColors_m2230 { fill : rgba(30, 139, 205, 1.000); }
svg > path.OfficeIconColors_m2231 { fill : rgba(255, 255, 255, 0.000); }
svg > path.OfficeIconColors_m2232 { fill : rgba(102, 194, 181, 1.000); }
svg > path.OfficeIconColors_m2233 { fill : rgba(250, 201, 20, 1.000); }
svg > path.OfficeIconColors_m2234 { fill : rgba(233, 0, 27, 1.000); }
svg > path.OfficeIconColors_m2235 { fill : rgba(168, 196, 207, 1.000); }
svg > path.OfficeIconColors_m2236 { fill : rgba(110, 176, 5, 1.000); }
svg > path.OfficeIconColors_m2237 { fill : rgba(180, 0, 158, 1.000); }
svg > path.OfficeIconColors_m2238 { fill : rgba(200, 198, 196, 1.000); }
svg > path.OfficeIconColors_m2239 { fill : rgba(102, 110, 218, 1.000); }
svg > path.OfficeIconColors_m2240 { fill : rgba(65, 71, 157, 1.000); }
svg > path.OfficeIconColors_m2241 { fill : rgba(224, 128, 149, 1.000); }
svg > path.OfficeIconColors_m2242 { fill : rgba(201, 79, 96, 1.000); }
svg > path.OfficeIconColors_m2243 { fill : rgba(175, 32, 49, 1.000); }
svg > path.OfficeIconColors_m2244 { fill : rgba(136, 20, 33, 1.000); }
svg > path.OfficeIconColors_m2245 { fill : rgba(102, 18, 28, 1.000); }
svg > path.OfficeIconColors_m2246 { fill : rgba(232, 70, 124, 1.000); }
svg > path.OfficeIconColors_m2247 { fill : rgba(210, 48, 98, 1.000); }
svg > path.OfficeIconColors_m2248 { fill : rgba(188, 25, 72, 1.000); }
svg > path.OfficeIconColors_m2249 { fill : rgba(140, 25, 63, 1.000); }
svg > path.OfficeIconColors_m2250 { fill : rgba(123, 25, 59, 1.000); }
svg > path.OfficeIconColors_m2251 { fill : rgba(0, 0, 0, 1.000); }
svg > path.OfficeIconColors_m2252 { fill : rgba(200, 198, 196, 1.000); }
svg > path.OfficeIconColors_m2253 { fill : rgba(134, 242, 242, 1.000); }
svg > path.OfficeIconColors_m2254 { fill : rgba(242, 158, 0, 1.000); }
svg > path.OfficeIconColors_m2255 { fill : rgba(216, 59, 1, 1.000); }
svg > path.OfficeIconColors_m2256 { fill : rgba(216, 59, 1, 0.247); }
svg > path.OfficeIconColors_m2257 { fill : rgba(213, 85, 156, 1.000); }
svg > path.OfficeIconColors_m2258 { fill : rgba(194, 31, 36, 1.000); }
svg > path.OfficeIconColors_m2259 { fill : rgba(194, 31, 36, 0.247); }
svg > path.OfficeIconColors_m2260 { fill : rgba(243, 41, 64, 1.000); }
svg > path.OfficeIconColors_m2261 { fill : rgba(94, 5, 0, 0.149); }
svg > path.OfficeIconColors_m2262 { fill : rgba(24, 90, 189, 1.000); }
svg > path.OfficeIconColors_m2263 { fill : rgba(16, 124, 65, 1.000); }
svg > path.OfficeIconColors_m2264 { fill : rgba(196, 62, 28, 1.000); }
svg > path.OfficeIconColors_m2265 { fill : rgba(119, 25, 170, 1.000); }
svg > path.OfficeIconColors_m2266 { fill : rgba(0, 120, 212, 1.000); }
svg > path.OfficeIconColors_m2267 { fill : rgba(75, 83, 188, 1.000); }
svg > path.OfficeIconColors_m2268 { fill : rgba(3, 131, 135, 1.000); }
svg > path.OfficeIconColors_m2269 { fill : rgba(175, 32, 49, 1.000); }
svg > path.OfficeIconColors_m2270 { fill : rgba(188, 25, 72, 1.000); }
svg > path.OfficeIconColors_m2271 { fill : rgba(248, 222, 109, 1.000); }
svg > path.OfficeIconColors_m2272 { fill : rgba(233, 192, 17, 1.000); }
svg > path.OfficeIconColors_m2273 { fill : rgba(230, 173, 16, 1.000); }
svg > path.OfficeIconColors_m2274 { fill : rgba(215, 150, 15, 1.000); }
svg > path.OfficeIconColors_m2275 { fill : rgba(208, 138, 15, 1.000); }
svg > path.OfficeIconColors_m2276 { fill : rgba(200, 126, 14, 1.000); }
svg > path.OfficeIconColors_m2277 { fill : rgba(52, 193, 224, 1.000); }
svg > path.OfficeIconColors_m2278 { fill : rgba(131, 230, 136, 1.000); }
svg > path.OfficeIconColors_m2279 { fill : rgba(55, 182, 88, 1.000); }
svg > path.OfficeIconColors_m2280 { fill : rgba(8, 129, 66, 1.000); }
svg > path.OfficeIconColors_m2281 { fill : rgba(9, 116, 61, 1.000); }
svg > path.OfficeIconColors_m2282 { fill : rgba(10, 90, 51, 1.000); }
svg > path.OfficeIconColors_m2283 { fill : rgba(10, 90, 51, 1.000); }
svg > path.OfficeIconColors_m2284 { fill : rgba(10, 90, 51, 1.000); }
svg > path.OfficeIconColors_m2285 { fill : rgba(229, 81, 42, 1.000); }
svg > path.OfficeIconColors_m2286 { fill : rgba(187, 59, 1, 1.000); }
svg > path.OfficeIconColors_m2287 { fill : rgba(134, 97, 197, 1.000); }
